@font-face {
    font-family: 'nastaligh';
    src: url(font/IranNastaliq.ttf) format('truetype');
}
body {
    background-color: #f4f4f4;
    font-family: 'nastaligh', tahoma;
    margin: 0;
}
header {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 60px 20px;
}
img {
    width: 100%;
    max-width: 900px;
    border: 4px solid #222;
    border-radius: 15px;
}
.se {
    background-color: white;
    width: 80%;
    margin: 30px auto;
    border-radius: 15px;

}
h1{
    font-size: 45px;
    margin-bottom: 10px;
}
a {
    color: #222;
}
a:hover {
    color: blue;
}
a.btn {
    display: inline-block;
    background-color: #222;
    color: azure;
    padding: 15px 30px;
    border-radius: 10px;
}
a.btn:hover {
    color: #555;
}
table {
    width: 100%;
    border-collapse: collapse;
}
ul {
    padding-right: 25px;
}
td,th {
    border: 1px solid #ccc;
    text-align: center;
}
footer {
    text-align: center;
    padding: 30px;
    margin-top: 40px;
    background-color: #222;
    color: white;
}